* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(#ff6961, #000);
  background-size: cover;
}

img {
  width: 100%;
  margin-bottom: 10px;
  border-radius: 10px !important;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10%;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px; 
}

h1 {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
    justify-content: center;

  
}

#cesta-carrito {
  border: none;
  color: rgb(3, 0, 0);
  font-size: 30px;
  background-color: rgb(185, 19, 19);
  border-radius: 50%;
  padding: 10px 20px;
  transition: all .3s;
}

#cesta-carrito:hover {
  cursor: pointer;
  color: linear-gradient(#ff6961, #000); 
  background-color: rgb(225, 76, 65);
}

#cesta-carrito:focus {
  outline: none;
}

#producto-contenedor {
  display: grid;
  gap: 1rem;
  max-width: 60rem;
  margin: 60px auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

p {
  line-height: 1.8;
}

.card {
  max-width: 30%;
  padding: 10px;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

select {
  display: inline;
  text-align: center;
  border: 1px solid rgb(79, 95, 105);
}

.modal-contenedor {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .5s;
  opacity: 0;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.3);
}

.modal-active {
  opacity: 1;
  visibility: visible;
  z-index: 5;
}

.modal-carrito {
  position: relative;
  background-color: white;
  min-width: 500px;
  padding: 20px;
  margin-top: -100%;
  transition: all .5s;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.modal-active .modal-carrito {
  margin-top: 0;
}

.modal-carrito h3 {
  color: rgb(13, 7, 7);
  padding-bottom: 5px;
}

.modal-carrito #btn-cerrar-carrito {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 20px;
  color: rgb(8, 6, 6) !important;
  border: none;
  background-color: white;
}

.modal-carrito #btn-cerrar-carrito:hover {
  cursor: pointer;
}

.modal-carrito #btn-cerrar-carrito:focus {
  outline: none;
}

.modal-carrito .producto-precio {
  padding-top: 10px;
}

.card .card-image .card-title {
  color: rgb(23, 15, 15);
  position: unset
}

.productoEnCarrito {
  border-left: 5px solid rgb(7, 35, 44);
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  margin: 5px 0;
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
}

.productoEnCarrito:hover {
  border-left: 5px solid rgb(8, 5, 4);
}

.boton-eliminar {
  background-color: white;
  color: #120a09;
  border: none;
  font-size: 20px;
}

.boton-eliminar:hover {
  cursor: pointer;
}

.boton-eliminar:focus {
  outline: none;
}

.footer {
  padding: 1rem 1rem;
  width: 100%;
  color: white;
  text-align: center;
  
}